{% extends "master.twig" %}

{% block content %}
    {% if not files %}
        <h1 class="text-center">Geen bestanden gevonden</h1>
    {% else %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Download Link</th>
                        <th>Date</th>
                        <th>MD5 Check</th>
                        <th>Filename</th>
                    </tr>
                    </thead>
                    {% for file in files %}
                        <tr>
                            <td><a href="download/{{ file.id }}">Download</a></td>
                            <td>{{ file.upload_date }}</td>
                            <td><a href="check/{{ file.id }}">Check file md5</a></td>
                            <td>{{ file.file_name|split('/')|last }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

{% endblock %}

