{% extends "master.twig" %}
{% block stylesheet %}
    <link href="{{ base_url('CSS/BaseStyle.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>Encryption</h1>
        <p>Encryption is used to make sure that only the intended person can read the message.<br>
            To learn more about Encryption.</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
{% endblock %}