{% extends "master.twig" %}
{% block stylesheet %}
    <link href="{{ base_url('CSS/BaseStyle.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="logincontainer">

        <div class="login">
<form class="form-horizontal">
    <fieldset>
        <legend>Login</legend>
    </fieldset>
    <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <input type="submit" value="Submit" class=" btn btn-primary" href="{{ base_url("user") }}">
        </div>
</div>
</form>
        </div>
    </div>
{% endblock %}