{% extends "master.twig" %}

{% block title %}Stuvent - 404{% endblock %}

{% block content %}
    <div class="container">
        <div class="well text-center">
            <h3>Oops deze pagina bestaat niet.</h3>
        </div>
    </div>
{% endblock %}